<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (jobHistory(); as jobHistoryRef) {
      <div>
        <h2 data-cy="jobHistoryDetailsHeading"><span jhiTranslate="jhipsterApp.jobHistory.detail.title">Job History</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="jhipsterApp.jobHistory.id">Id</span></dt>
          <dd>
            <span>{{ jobHistoryRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterApp.jobHistory.startDate">Start Date</span></dt>
          <dd>
            <span>{{ jobHistoryRef.startDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterApp.jobHistory.endDate">End Date</span></dt>
          <dd>
            <span>{{ jobHistoryRef.endDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterApp.jobHistory.language">Language</span></dt>
          <dd>
            <span [jhiTranslate]="'jhipsterApp.Language.' + (jobHistoryRef.language ?? 'null')">{{
              { null: '', FRENCH: 'FRENCH', ENGLISH: 'ENGLISH', SPANISH: 'SPANISH' }[jobHistoryRef.language ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterApp.jobHistory.job">Job</span></dt>
          <dd>
            @if (jobHistory()!.job) {
              <div>
                <a [routerLink]="['/job', jobHistory()!.job?.id, 'view']">{{ jobHistoryRef.job?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="jhipsterApp.jobHistory.department">Department</span></dt>
          <dd>
            @if (jobHistory()!.department) {
              <div>
                <a [routerLink]="['/department', jobHistory()!.department?.id, 'view']">{{ jobHistoryRef.department?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="jhipsterApp.jobHistory.employee">Employee</span></dt>
          <dd>
            @if (jobHistory()!.employee) {
              <div>
                <a [routerLink]="['/employee', jobHistory()!.employee?.id, 'view']">{{ jobHistoryRef.employee?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/job-history', jobHistoryRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
