on: push
env:
  FORCE_COLOR: 2
jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: super-linter/super-linter/slim@d5b0a2ab116623730dd094f15ddc1b6b25bf7b99 # v8
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
