on: push
env:
  FORCE_COLOR: 2
jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

      - uses: github/super-linter/slim@b807e99ddd37e444d189cfd2c2ca1274d8ae8ef1 # v7
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
