on: push
env:
  FORCE_COLOR: 2
jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: super-linter/super-linter/slim@v8
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
