on:
  workflow_dispatch:
  schedule:
    - cron:  '0 * * * *'
env:
  FORCE_COLOR: 2
jobs:
  next:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: lts/*

      - run: sudo npm un generator-jhipster -g

      - run: git clone --depth=1 https://github.com/jhipster/generator-jhipster.git

      - run: |
          cd generator-jhipster
          npm i -f
          sudo npm link

      - run: |
          echo "y" | rm -rf my-workspace
          mkdir my-workspace

      - run: echo "::set-output name=date::$(date +'%Y-%m-%d')"
        id: date

      - run: |
          cd my-workspace
          mkdir client
          cd client
          sudo date -s "1970-01-01 12:00:00"
          echo "a" | jhipster jdl ../../jdl/workspace.jdl --skip-git --skip-install --skip-server

      - run: |
          cd my-workspace
          mkdir server
          cd server
          sudo date -s "1970-01-01 12:00:00"
          echo "a" | jhipster jdl ../../jdl/workspace.jdl --skip-git --skip-install --skip-client

      - run: echo "y" | sudo rm -rf generator-jhipster

      - run: |
          sudo date -s "${{ steps.date.outputs.date }}"

      - uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8
        with:
          title: next
          body:
          commit-message: next
          branch: next
          draft: true
